{% extends "base.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Hello, {{ current_user.username }}!</h1>

{% if form %}
<form action="" method="post">
  {{ form.hidden_tag() }}
  {{ wtf.form_field(form.post, rows=5) }}
  {{ wtf.form_field(form.submit) }}
</form>
<br>
{% endif %}

{% if posts and posts|length > 0 %}

{% for post in posts %}
{% include '_post.j2' %}
{% endfor %}

{% include "_page_nav.j2" %}

{% else %}
<h2>We don't have any post yet! Start with something new today!</h2>
{% endif %}

{% endblock %}