{% extends "base.j2" %}

{% block content %}
<h1>Hello, {{ current_user.username }}!</h1>

{% if posts %}

{% for post in posts %}
<div>
  <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
</div>
{% endfor %}

{% else %}
<h2>We don't have any post yet! Start with something new today!</h2>
{% endif %}

{% endblock %}